body{ text-align: center; background-image: url(daa.webp); background-repeat: no-repeat; background-attachment: fixed;background-size: cover;}
p{ font-size: 25.9px; font-style: georgia;color:red;}
dl,dt,dd { font-size: 25.5px;color: blue;font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1,h2,h3 {font-style: tahoma; color: rgb(81, 0, 128); }
h3 {font-size: 26.5px;}
h2 { font-size: 30px;}